@charset "utf-8";

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom, rgb(223, 61, 223), rgb(23, 180, 180));
    }
    #um{
        width: 768px;
        display: flex;
    }
    #imagem{
        float: left;
        background-image: url(../midia/imagem1.jpg);
        height: 100%;
        width: 30%;
        background-position: center center;
        background-size: cover;
        border-radius: 20px 0px 0px 20px;
    }
   #um > #formulario{
        float: right;
        width: 70%;
        height: 78vh;
    }
}